<nav class="navbar justify-content-center" id="bot-nav-id">
  <a class="navbar-brand" href="https://github.com/est271">
    <img class="custom-img2" src="./images/GH-Dark.png" alt="...">
  </a>
  <a class="navbar-brand" href="https://www.linkedin.com/in/esteban-f-est271">
    <img class="custom-img2" src="./images/LInk.png" alt="...">
  </a>
  <a class="navbar-brand" href="https://angel.co/u/est271">
    <img class="custom-img2" src="./images/AL_Black.png" alt="...">
  </a>
  <a class="navbar-brand" href="mailto:est271ca@gmail.com">
    <img class="custom-img2" src="./images/envelope.png" alt="...">
  </a>
  <br><br>
  <div style="margin-right: 2em; color:black;">&copy; 2020 est271</div>
</nav>
