<div class="modal fade" id="project-1-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on Tic-Tac-Toe project
        </h5>
      </div>
      <div class="modal-body">
        <ul> <li>HTML</li><li>CSS</li><li>JavaScript</li><li>Chrome Dev Tools</li></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-2-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on Geomstats project
        </h5>
      </div>
      <div class="modal-body">
        <ul>
          <li>Python</li><li>PDB Python Debugger</li>
          <li>UnitTest/Nose2</li><li>Python Logging Module</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-3-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on Sugarizer project
        </h5>
      </div>
      <div class="modal-body">
        <ul> <li>HTML</li><li>CSS</li><li>JavaScript</li>
          <li>Chrome Dev Tools</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-4-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on My Portfolio project
        </h5>
      </div>
      <div class="modal-body">
        <ul> <li>HTML</li><li>CSS</li><li>JavaScript</li>
          <li>Bootstrap</li><li>Jquery</li><li>Chrome Dev Tools</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-5-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on Modernomad project
        </h5>
      </div>
      <div class="modal-body">
        <ul> <li>Python</li><li>JavaScript</li><li>HTML</li><li>Django</li>
          <li>Django REST Framework (API)</li><li>React JS</li><li>Chrome Dev Tools</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-6-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Skills used on Express-pdf project
        </h5>
      </div>
      <div class="modal-body">
        <ul> <li>HTML</li><li>Express JS</li><li>Regex</li><li>Node JS</li> </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>