body{
  background-color: #007bff52;
}
.btn{
  color: black;
  margin-bottom: .4rem;
}
.jumbotron{
  background-color:#8e8dd0; 
  margin-top: 4rem;
}
.card{
  margin-bottom: 4rem;
}
.card-header{
  font-size: 1.5em;
  font-weight: bold;
  background-color: #a6aeb58a;
}
.card-text{
    margin-top: 1em;
}
ul{
  text-align:left;
}
.custom-img{
  height: 3em;
}
.custom-img2{
  height: 2em;
  padding: .3em .3em .3em .3em;
  border-radius: .3em;
}
.custom-img2:hover{
  background-color: #ffc1077a;
}
.fade1{
  opacity: 0.1;
}
.p2{
  margin-bottom: 5rem;
}